# Main libraries
coverage==7.1.0
dash
dash-bootstrap-components
Flask==2.2.2
flask-marshmallow==0.14.0
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
Jinja2==3.1.2
jwt
marshmallow-sqlalchemy==0.28.1
numpy==1.24.1
openpyxl
pandas==1.5.3
plotly
pytest==7.2.1
pytest-cov==4.0.0
pytest-flask==1.2.0
scikit-learn==1.2.0

# Linters
flake8
pydocstyle